<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../../../../../css/bootstrap.min.css"> 
    <!--This is very weird that it works for user screen. since public is root, we can't go more back if we are at the root of our server-->
    <!--https://stackoverflow.com/questions/30473993/how-to-use-npm-installed-bootstrap-in-express-->
    <title>Sleep App</title>
</head>
<body>
    <div class="container-md">
        {{{body}}}
    </div>
    

    <script src="/assets/js/app.js"></script>
</body>
</html>